In [2]:
#在Jupyter Notebook的Cell中显示多个输出

from IPython.core.interactiveshell import InteractiveShell 

InteractiveShell.ast_node_interactivity = "all"

%config InlineBackend.figure_format = "retina"

import matplotlib.pyplot as plt

import matplotlib as mpl

import numpy as np

plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus']=False

import pandas as pd

import sympy

#请比较 2021 年不同国家的总人口数，绘制不同国家总人口数的柱状图，并给出总人口最多的前 10 个国家和最少的后 10 个国家名单。

In [18]:
data = pd.read_csv("各个国家人口数据.csv")
data.info()
# data.head(20)
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16056 entries, 0 to 16055
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country name  16056 non-null  object
 1   Year          16056 non-null  int64
 2   Population    16056 non-null  int64
dtypes: int64(2), object(1)
memory usage: 376.4+ KB

               Year    Population
count  16056.000000  1.605600e+04
mean    1985.500000  2.235091e+07
std       20.783252  9.704896e+07
min     1950.000000  1.363000e+03
25%     1967.750000  3.270775e+05
50%     1985.500000  3.498426e+06
75%     2003.250000  1.133382e+07
max     2021.000000  1.425894e+09

In [28]:
data = pd.read_csv("各个国家人口数据.csv")
data.info()
# data.head(20)
data.describe()
#数据清洗与格式化
df = data
df = df.drop_duplicates()  #删除完全重复的记录
df.info()
df = df[(df['Year'] == 2021)][['Country name','Population']]
data = pd.read_csv("各个国家人口数据.csv")
data.info()


df1 = df
df1.info()
df1.sort_values("Population",inplace=True,ascending=False)
df1 = df1.reset_index(drop=True)
df1.to_csv('各国人口（降序）.csv',index = False)
df1.info()
df1.head(10)['Country name']
df1.tail(10)['Country name']

# df1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16056 entries, 0 to 16055
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country name  16056 non-null  object
 1   Year          16056 non-null  int64
 2   Population    16056 non-null  int64
dtypes: int64(2), object(1)
memory usage: 501.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 223 entries, 71 to 16055
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country name  223 non-null    object
 1   Population    223 non-null    int64
dtypes: int64(1), object(1)
memory usage: 5.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country name  223 non-null    object
 1   Population    223 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.6+ KB

0            China
1            India
2    United States
3        Indonesia
4         Pakistan
5           Brazil
6          Nigeria
7       Bangladesh
8           Russia
9           Mexico
Name: Country name, dtype: object

213                     Anguilla
214                        Nauru
215            Wallis and Futuna
216                       Tuvalu
217             Saint Barthelemy
218    Saint Pierre and Miquelon
219                 Saint Helena
220                   Montserrat
221                         Niue
222                      Tokelau
Name: Country name, dtype: object